@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  z-index: 9999;
}
nav .logo{
  cursor: pointer;
  display: flex;
}
nav .logo-img{
  height: 50px;
  width: 50px;
  gap: 10px;
}
nav .logo-title{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 925px) { 
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{ 
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{  
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #685e5e;
  }

}
/* ##### NAVBAR END ##### */





/* DISCORD START */
.wrapper-flex { 
  background-color: #17202A;
  padding: 100px;
}

.card-box {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, auto));
	align-items: center;
	column-gap: 40px;
  row-gap: 40px;
	cursor: pointer;
	padding-top: 10px;
}
.box {
  overflow: hidden;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
}
 .banner-img { 
  position: absolute;
  background-image: url(img/bgcard.jpg);
  height: 170px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-img {
  width: 120px;
  clip-path: circle(60px at center);
  margin-top: 70px;
}


.box .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 20px;
}

.box .button a{
  background: #7d2ae8;
  text-decoration: none;
  color: #fff;
  padding: 8px 32px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button a:hover{
  background: #6616d0;
}
/* ###### DISCORD END ##### */
footer {
	padding: 20px;
	text-align: center;
	background: #1b1b1b;
	color: #eaeaea;
}